/ {
  keymap {
    compatible = "zmk,keymap";
    colemak_layer {
      bindings = <
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
     &kp Q         &kp W         &kp F         &kp P         &kp B             &kp J         &kp L         &kp U         &kp Y         &kp SQT
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
     HRML(A,       R,            S,            T)            &kp G             &kp M         HRMR(N,       E,            I,            O)
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
     &blt_dance    &kp X         &kp C         &kp D         &kp V             &kp K         &kp H         &sh_comma     &sh_dot       &sh_slash
// ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                              LT_REPEAT(NAV) &kp SPACE         MAGIC_SHIFT   MO_SL(SYM_NUM)
//                                           ╰─────────────┴─────────────╯   ╰─────────────┴─────────────╯
//                                                     TODO: &lt BOH SPACE
//                                                     TODO: FUNCT on tap-tap-hold?
      >;
    };
    querty_layer {
      bindings = <
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
     &kp Q         &kp W         &kp E         &kp R         &kp T             &kp Y         &kp U         &kp I         &kp O         &kp P
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
     HRML(A,       S,            D,            F)            &kp G             &kp H         HRMR(J,       K,            L,            SEMICOLON)
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
     &blt_dance    &kp X         &kp C         &kp V         &kp B             &kp N         &kp M         &sh_comma     &sh_dot       &sh_slash
// ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                               ___           ___               ___           ___
//                                           ╰─────────────┴─────────────╯   ╰─────────────┴─────────────╯
      >;
    };
    sym_num_layer {
      bindings = <
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
     &mc_excl      &mc_at        &mc_hash      &mc_dllr      &mc_prcnt         &mc_caret     &mc_amps      &mc_star      &mc_qmark     &mc_grave
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
     HRML(N1,      N2,           N3,           N4)           &kp N5            &kp N6        HRMR(N7,      N8,           N9,           N0)
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
     XXX           XXX           &mc_minus     &mc_plus      &mc_tilde         &mc_pipe      &mc_equal     &mc_lt        &mc_gt        &mc_under
// ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                               ___           ___               ___           ___
//                                           ╰─────────────┴─────────────╯   ╰─────────────┴─────────────╯
      >;
    };
    nav_layer {
      bindings = <
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
     &kp PG_UP     &kp HOME      &kp UP        &kp END       XXX               &kp INS       XXX           XXX           XXX           XXX
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
     &kp PG_DN     &kp LEFT      &kp DOWN      &kp RIGHT     &kp CAPS          XXX           NK(RSHIFT)    NK(RCTRL)     NK(RALT)      NK(RGUI)
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
     XXX           &kp LS(TAB)   &kp TAB       &sh_bspc      XXX               &kp PSCRN     XXX           XXX           XXX           XXX
// ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                               XXX           XXX               XXX           XXX 
//                                           ╰─────────────┴─────────────╯   ╰─────────────┴─────────────╯
      >;
    };
    function_layer {
      bindings = <
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
     &kp K_STOP    &kp K_PREV    &kp K_PP      &kp K_NEXT    &kp C_BRI_UP      XXX           XXX           &kp F11       &kp F12       XXX
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
     HRML(F1,      F2,           F3,           F4)           &kp F5            &kp F6        HRMR(F7,      F8,           F9,           F10)
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
     XXX           &kp K_VOL_DN  &kp K_MUTE    &kp K_VOL_UP  &kp C_BRI_DN      XXX           XXX           XXX           XXX           XXX
// ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                               XXX           XXX               XXX           XXX
//                                           ╰─────────────┴─────────────╯   ╰─────────────┴─────────────╯
      >;
    };
    blt_layer {
      bindings = <
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
     &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_CLR        &bt BT_CLR    XXX           XXX           XXX           XXX
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
     XXX           XXX           XXX           XXX           &bootloader       &bootloader   XXX           XXX           XXX           XXX
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
     XXX           XXX           XXX           XXX           &sys_reset        &sys_reset    XXX           XXX           XXX           XXX
// ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                               &out OUT_BLE  &out OUT_USB      &out OUT_USB  &out OUT_BLE
//                                           ╰─────────────┴─────────────╯   ╰─────────────┴─────────────╯
      >;
    };
    gaming_layer {
      bindings = <
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
     &kp TAB       &kp Q         &kp W         &kp E         &kp R             &kp T         &kp Y         &kp U         &kp I         &kp O
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
     &kp LSHIFT    &kp A         &kp S         &kp D         &kp F             &kp G         &kp H         &kp J         &kp K         &kp L
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
     &kp LCTRL     &kp Z         &kp X         &kp C         &kp V             &kp B         &kp N         &sh_comma     &sh_dot       &kp P
// ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                               &kp LALT      &kp SPACE         XXX           MO_SL(SYM_NUM)
//                                           ╰─────────────┴─────────────╯   ╰─────────────┴─────────────╯
      >;
    };
//    mouse_layer {
//      bindings = <
//// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
//     &kp LALT    &msc SCRL_DOWN &mmv MOVE_UP   &msc SCRL_UP  XXX               XXX           XXX           XXX           XXX           XXX
//// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
//     &kp LSHIFT &mmv MOVE_LEFT &mmv MOVE_DOWN &mmv MOVE_RIGHT &mkp MB4         XXX           XXX           XXX           XXX           XXX
//// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
//     &kp LCTRL   &msc SCRL_LEFT  &mkp MCLK   &msc SCRL_RIGHT &mkp MB5          XXX           XXX           XXX           XXX           XXX
//// ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
//                                               &mkp RCLK     &mkp LCLK         XXX           XXX
////                                           ╰─────────────┴─────────────╯   ╰─────────────┴─────────────╯
//      >;
//    };
  };
};
