/ {
  #define COMBO_20_MS 20
  #define COMBO_30_MS 30
  #define COMBO_70_MS 70

  #define COMBO_STICKY(NAME, BINDINGS, KEYPOS, LAYERS, TIMEOUT) \
    combo_##NAME { \
      timeout-ms = <TIMEOUT>; \
      key-positions = <KEYPOS>; \
      bindings = <BINDINGS>; \
      layers = <LAYERS>; \
      slow-release; \
      global-quick-tap-ms = <75>; \
    };
  #define COMBO(NAME, BINDINGS, KEYPOS, LAYERS, TIMEOUT) \
    combo_##NAME { \
      timeout-ms = <TIMEOUT>; \
      key-positions = <KEYPOS>; \
      bindings = <BINDINGS>; \
      layers = <LAYERS>; \
      global-quick-tap-ms = <75>; \
    };

  // NOTE: can combine combos with hold behaviour
  combos {
    compatible = "zmk,combos";

    // //// OTHER ////////////////////
    COMBO(compose_key,     &kp K_CMENU,          LHC TLL,        NO_GAME_AND_MOUSE,  COMBO_30_MS)
    COMBO(to_hub,          &to HUB,              LBI LBC TLR,    ALL,      COMBO_30_MS)
    COMBO(mouse_on,        &to MOUSE,            LTR LTI,        NO_GAME_AND_MOUSE,  COMBO_30_MS)
    COMBO(mouse_off,       &tog MOUSE,           LHR LHM LHI,    MOUSE,    COMBO_30_MS)
    // // COMBO(fun_layer ,      &mo FUNCT,            TLL TRR,        ALL,      50)

    // //// LEFT HOMEROW COMBO MODS ////////////////////
    // // COMBO_STICKY(gui,                NK(LGUI),               LHP TLL,             NO_GAME_AND_MOUSE, COMBO_30_MS)
    // // COMBO_STICKY(alt,                NK(LALT),               LHR TLL,             NO_GAME_AND_MOUSE, COMBO_30_MS)
    // // COMBO_STICKY(ctrl,               NK(LCTRL),              LHM TLL,             NO_GAME_AND_MOUSE, COMBO_30_MS)
    // // COMBO_STICKY(shift,              NK(LSHIFT),             LHI TLL,             NO_GAME_AND_MOUSE, COMBO_30_MS)
    // // COMBO_STICKY(gui_alt,            NK(LG(LALT)),           LHP LHR TLL,         NO_GAME_AND_MOUSE, COMBO_30_MS)
    // // COMBO_STICKY(gui_ctrl,           NK(LG(LCTRL)),          LHP LHM TLL,         NO_GAME_AND_MOUSE, COMBO_30_MS)
    // // COMBO_STICKY(gui_shift,          NK(LG(LSHIFT)),         LHP LHI TLL,         NO_GAME_AND_MOUSE, COMBO_30_MS)
    // // COMBO_STICKY(alt_ctrl,           NK(LA(LCTRL)),          LHR LHM TLL,         NO_GAME_AND_MOUSE, COMBO_30_MS)
    // // COMBO_STICKY(alt_shift,          NK(LA(LSHIFT)),         LHR LHI TLL,         NO_GAME_AND_MOUSE, COMBO_30_MS)
    // // COMBO_STICKY(ctrl_shift,         NK(LC(LSHIFT)),         LHM LHI TLL,         NO_GAME_AND_MOUSE, COMBO_30_MS)
    // // COMBO_STICKY(gui_alt_ctrl,       NK(LG(LA(LCTRL))),      LHP LHR LHM TLL,     NO_GAME_AND_MOUSE, COMBO_30_MS)
    // // COMBO_STICKY(gui_alt_shift,      NK(LG(LA(LSHIFT))),     LHP LHR LHI TLL,     NO_GAME_AND_MOUSE, COMBO_30_MS)
    // // COMBO_STICKY(gui_ctrl_shift,     NK(LG(LC(LSHIFT))),     LHP LHM LHI TLL,     NO_GAME_AND_MOUSE, COMBO_30_MS)
    // // COMBO_STICKY(alt_ctrl_shift,     NK(LA(LC(LSHIFT))),     LHR LHM LHI TLL,     NO_GAME_AND_MOUSE, COMBO_30_MS)
    // // COMBO_STICKY(gui_alt_ctrl_shift, NK(LG(LA(LC(LSHIFT)))), LHP LHR LHM LHI TLL, NO_GAME_AND_MOUSE, COMBO_30_MS)

    // //// LEFT HAND ////////////////////
    COMBO(find,  &kp LC(F),                   LTR LTM,  NO_GAME_AND_MOUSE, COMBO_20_MS)
    COMBO(esc,   &hml LA(LCTRL)   ESC,        LHR LHM,  NO_GAME_AND_MOUSE, COMBO_20_MS)
    COMBO(ret,   &hml LC(LSHIFT)  RETURN,     LHM LHI,  NO_GAME_AND_MOUSE, COMBO_20_MS)
    COMBO(save,  &hml LA(LSHIFT)  LC(S),      LHR LHI,  NO_GAME_AND_MOUSE, COMBO_20_MS)
    COMBO(tab,   &kp TAB,                     LBR LBM,  NO_GAME_AND_MOUSE, COMBO_20_MS)
    // COMBO(cut,   &kp CUT,                     LBR LBI,  NO_GAME_AND_MOUSE, COMBO_30_MS)
    // COMBO(copy,  &kp COPY,                    LBR LBM,  NO_GAME_AND_MOUSE, COMBO_20_MS)
    // COMBO(paste, &kp PASTE,                   LBM LBI,  NO_GAME_AND_MOUSE, COMBO_20_MS)

    //// RIGHT HAND ////////////////////
    COMBO(lbrc,  &kp LBRC,              RTI RTM,  BASE QWERTY HANDS_TI SYM_NUM,  COMBO_20_MS)
    COMBO(rbrc,  &kp RBRC,              RTM RTR,  BASE QWERTY HANDS_TI SYM_NUM,  COMBO_20_MS)
    COMBO(lpar,  &hmr LC(LSHIFT) LPAR,  RHI RHM,  BASE QWERTY HANDS_TI SYM_NUM,  COMBO_20_MS)
    COMBO(rpar,  &hmr LA(LCTRL)  RPAR,  RHM RHR,  BASE QWERTY HANDS_TI SYM_NUM,  COMBO_20_MS)
    COMBO(lbrk,  &kp LBKT,              RBI RBM,  BASE QWERTY HANDS_TI SYM_NUM,  COMBO_20_MS)
    COMBO(rbrk,  &kp RBKT,              RBM RBR,  BASE QWERTY HANDS_TI SYM_NUM,  COMBO_20_MS)

    //// GAME ////////////////////
    COMBO(esc_game,  &kp ESC,   LTP LTR,    GAME, COMBO_20_MS)

  //   combo_game {
  //     timeout-ms = <30>;
  //     key-positions = <LTM LTI LTC RTC>;
  //     bindings = <&to GM>;
  //   };
  //   combo_sys {
  //     timeout-ms = <30>;
  //     key-positions = <LTC RTC RTI>;
  //     bindings = <&to SYS>;
  //   };
  //   combo_caps {
  //     timeout-ms = <30>;
  //     key-positions = <LHM LHI LHC>;
  //     bindings = <&caps_word>;
  //   };
  //   lalt {
  //     timeout-ms = <20>;
  //     key-positions = <LHP LHR>;
  //     bindings = <&kp LALT>;
  //     layers = <SYS>;
  //   };
  };
};
