/*                KEY POSITIONS
  ╭─────────────────────╮ ╭─────────────────────╮
  │ LT4 LT3 LT2 LT1 LT0 │ │ RT0 RT1 RT2 RT3 RT4 │
  │ LM4 LM3 LM2 LM1 LM0 │ │ RM0 RM1 RM2 RM3 RM4 │
  │ LB4 LB3 LB2 LB1 LB0 │ │ RB0 RB1 RB2 RB3 RB4 │
  ╰───────────╮ TL1 TL0 │ │ TR0 TR1 ╭───────────╯
              ╰─────────╯ ╰─────────╯            */

//#include <dt-bindings/zmk/dynamic-macros.h>

/ {
	macros {
	// MACRO(mc_ciao, 10, 10, <&kp C &kp I &kp A &kp O>)
  // MACRO(leader2, 10, 10, <&macro_press &mo L_NUM &macro_tap &leader &macro_release &mo L_NUM>)
  // MACRO(leader3, 10, 10, <&macro_press &mo L_NAV &macro_tap &leader &macro_release &mo L_NAV>)
	};
};

