/*                KEY POSITIONS
  ╭─────────────────────╮ ╭─────────────────────╮
  │ LT4 LT3 LT2 LT1 LT0 │ │ RT0 RT1 RT2 RT3 RT4 │
  │ LM4 LM3 LM2 LM1 LM0 │ │ RM0 RM1 RM2 RM3 RM4 │
  │ LB4 LB3 LB2 LB1 LB0 │ │ RB0 RB1 RB2 RB3 RB4 │
  ╰───────────╮ TL1 TL0 │ │ TR0 TR1 ╭───────────╯
              ╰─────────╯ ╰─────────╯            */

/ {
  symbols {
    // INFO: MEANINGFUL SHIFTED SYMBOLS //
    #define MOD_SFT (MOD_LSFT | MOD_RSFT)

    MOD_MORPH(sh_comma,   &kp COMMA,     &kp SEMICOLON, MOD_SFT, 0)
    MOD_MORPH(sh_dot,     &kp DOT,       &kp COLON,     MOD_SFT, 0)
    MOD_MORPH(sh_slash,   &kp SLASH,     &kp BSLH,      MOD_SFT, 0)

    MOD_MORPH(sh_bspc,    &kp BACKSPACE, &kp DELETE,    MOD_SFT, 0)
    //MOD_MORPH(shift_caps, &sk_quick LSHIFT, &caps_word, MOD_SFT, 0)

    // INFO: MACRO TAP symbols //
    MACRO(mc_excl,  0, 0, <&kp EXCL>  )
    MACRO(mc_at,    0, 0, <&kp AT>    )
    MACRO(mc_hash,  0, 0, <&kp HASH>  )
    MACRO(mc_dllr,  0, 0, <&kp DLLR>  )
    MACRO(mc_prcnt, 0, 0, <&kp PRCNT> )
    MACRO(mc_caret, 0, 0, <&kp CARET> )
    MACRO(mc_amps,  0, 0, <&kp AMPS>  )
    MACRO(mc_star,  0, 0, <&kp STAR>  )
    MACRO(mc_qmark, 0, 0, <&kp QMARK> )

    MACRO(mc_grave, 0, 0, <&kp GRAVE> )
    MACRO(mc_dqt,   0, 0, <&kp DQT>   )
    MACRO(mc_minus, 0, 0, <&kp MINUS> )
    MACRO(mc_plus,  0, 0, <&kp PLUS>  )
    MACRO(mc_tilde, 0, 0, <&kp TILDE> )
    MACRO(mc_pipe,  0, 0, <&kp PIPE>  )
    MACRO(mc_equal, 0, 0, <&kp EQUAL> )
    MACRO(mc_lt,    0, 0, <&kp LT>    )
    MACRO(mc_gt,    0, 0, <&kp GT>    )
    MACRO(mc_under, 0, 0, <&kp UNDER> )
  };
};

